body, label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    background-position: center;
}

input {
    background: #F8F8F8;
    width: 50px;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px solid #C6C6C6;
}
